.bg-primary {
    background-color: black;
}
body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: inset 0 0 0 99px black, inset 0 0 0 100px rgba(148, 8, 241, 0.856), inset 0 0 0 199px black, inset 0 0 0 200px rgba(148, 8, 241, 0.856), inset 0 0 0 299px black, inset 0 0 0 300px rgba(148, 8, 241, 0.856), inset 0 0 0 399px black, inset 0 0 0 400px rgba(148, 8, 241, 0.856);
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    overflow: hidden;
    width: 1000px;
    height: 1000px;
    border: 1px solid rgba(148, 8, 241, 0.856);
  }
  .panel .scanner {
    -webkit-animation: scanning 6s infinite linear;
    animation: scanning 6s infinite linear;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwZmYwMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#00ff00), color-stop(50%, rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to top right, #00ff00 0%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    border-left: 1px solid rgba(0, 255, 0, 0.1);
  }
  .panel:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background: rgba(0, 255, 0, 0.2);
  }
  .panel:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(0, 255, 0, 0.2);
  }
  .panel .something {
    list-style: none;
  }
  .panel .something li {
    -webkit-animation: target 6s infinite linear;
    animation: target 6s infinite linear;
    border-radius: 50%;
    box-shadow: 0 0 10px #AFA;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: #AFA;
  }
  .platform {
    width: 80%;
    height: 30%;
    position: fixed;
    background-color: black;
    width: 240px;
    max-width: 25%;
    border: 1.5px solid rgba(148, 8, 241, 0.856);
    padding-left: 15px;
    margin: 0px;
    font-weight: bold;
    color: white;
    border-spacing: 2px;
    line-height: 7px;
  }


.fas.fa-cloud-showers-heavy {
    top: 5px;
    right: 70px;
    position: fixed;
    background-color: black;
    border-color: black;
    padding-right: 15px;
}

/* .fa.fa-gear {
    top: 10px;
    right: 0px;
    position: fixed;
    background-color: black;
    border-color: black;
    padding-right: 15px;
} */
.fa.fa-table {
  top: 5px;
  right: 0px;
  position: fixed;
  background-color: black;
  border-color: black;
  padding-right: 15px;
}


  

  @-webkit-keyframes scanning {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes scanning {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes target {
    1% {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
      opacity: 0.5;
      -webkit-transform: scale(2.5);
      transform: scale(2.5);
    }
    3% {
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1;
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
    60% {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
    }
  }
  @keyframes target {
    1% {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
      opacity: 0.5;
      -webkit-transform: scale(2.5);
      transform: scale(2.5);
    }
    3% {
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1;
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
    60% {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
    }
  }
  